<app-navbar></app-navbar>
    <section id="hero">
        <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active" style="background-image: url('https://images.pexels.com/photos/33266/work-chinese-industrial-professional.jpg')">
                    <h2>Welcome User!</h2>
                </div>
            </div>
        </div>
    <section>
