<app-navbar></app-navbar>
<section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active" style="background-image: url(https://images.pexels.com/photos/1445324/pexels-photo-1445324.jpeg)">
                <div class="carousel-container">
                    <div class="container">
                        <h2 class="animate__animated animate__fadeInDown">Welcome to <span>WorkHub</span></h2>
                        <h3 class="animate__animated animate__fadeInUp">Find the Perfect Worker</h3>
                        <h5 class="animate__animated animate__fadeInUp">Book skilled workers for your tasks and projects with ease.</h5>
                        <a routerLink="/ulogin" class="btn-get-started animate__animated animate__fadeInUp scrollto">I AM USER</a>
                        <a routerLink="/wlogin" class="btn-get-started animate__animated animate__fadeInUp scrollto">I AM WORKER</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
 <section>